/*header style*/
.header {
    background: rgba(229, 84, 115, 0.10);
}

.banner {
    padding: 50px 100px 0px 100px;
    display: flex;
    align-items: center;
}

.banner .profile-pic {
    width: 635px;
}

.banner-title {
    font-size: 80px;
    font-weight: 800;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
}

.banner-content {
    max-width: 1920px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 15px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 178px;
    margin-bottom: -10px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.box-section {
    display: flex;
    margin: 48px 140px 100px 40px;

}

.icon-1 {
    width: 310px;
    height: 428px;
    padding: 100px 78px 0px 76px;
}

.first-box {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    text-align: center;
    margin-right: 24px;
}

.icon-2 {
    width: 370px;
    height: 370px;
    padding: 117px 47px 51px 47px;
}

.second-box {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    text-align: center;
    margin-right: 24px;
}

.icon-3 {
    width: 314px;
    height: 471px;
    padding: 67px 75px 0px 75px;
}

.third-box {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    text-align: center;
}

.text-style {
    text-decoration: underline;
}

.service-container {
    display: flex;
    justify-content: center;
    width: 1922px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 178px;
}
.text-container {
    text-align: center;
    padding-top: 50px;
}

.service-img {
    width: 318px;
    height: 420px;
    padding: 100px 420px 100px 180px;
}
.text-primarry {
    color: #E55473;
}
.instagram-picture {
    display: flex;
    justify-content: center;
    margin: 48px 40px 100px 40px;
} 